@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-image: url(imgRestaurante/buteco.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -100px;
    background-attachment: fixed;
    /* Faz o fundo ficar fixo ao rolar a página */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
}

/* ESSA PARTE AQUI CRIA UM FUNDO MAIS ESCUTO EM CIMA DA IMAGEM E FAZ COM QUE PARECA OPACIDADE  */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 81, 81, 0.5);
    /* Cor de fundo com opacidade */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo */
}

/* Define a borda ocupando toda a largura */
.borda {
    border: 3px solid #720b0b;
    border-radius: 5px;
    background-color: #720b0b;
    box-sizing: border-box;
    width: 100%;
}

.menu {
    display: flex;
    position: static;
    width: 47%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.imgmenu {
    display: block;
}

.imgmenu :hover {
    display: block;
    padding: 5px;
}


.pesquisa {
    display: flex;
    position: relative;
    left: 670px;
    margin-left: auto;
    width: auto;
}

.pesquisa form {
    display: flex;
}

.pesquisa input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.pesquisa button {
    padding: 8px 12px;
    background-color: #535353;
    color: white;
    border: 1px solid #535353;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.pesquisa button:hover {
    background-color: #720b0b;
}

.bem-vindo {
    position: relative;
    left: 50px;
    color: #ffffff;
    text-align: center;
    flex: 1;
    /* Faz o texto ocupar o espaço central */
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
}

/* .bem-vindo:hover {
    color: inherit;
    background: none;
    text-decoration: none;
    cursor: default;
} */


.whatsapp {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: 1px solid rgb(51, 211, 51);
    border-radius: 30px;
    background: rgb(27, 197, 35);
    transition: all 0.9s ease;
    /* Aplica a transição suave para todas as propriedades */
}

.whatsapp:hover {
    background: rgb(51, 211, 51);
    transition: 0.9s;
    transition-duration: 0, 9s;
    padding: 24px;
}

/* parte imagens */
img {
    width: 30px;
    height: auto;
}

/* Faixada para separar seções */
.faixada {}

/* PARTE BOTOES */
li {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px;
}

.botao {
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.entrar {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    display: inline-block;
    position: relative;
    right: 200px;
    bottom: 100px;
    width: 200px;
    height: 60px;
    padding: 15px;
    margin: 10px;
    border: 3px solid #6d6b6b;
    border-radius: 10px;
    background-color: #535353;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.9s ease;
    /* Transição suave ao passar o mouse */
}

.entrar a {
    text-decoration: none;
    /* Remove o sublinhado do link */
    color: #ffffff;
    /* Cor do texto do link */
    font-size: 20px;
    /* Tamanho da fonte do link */
    font-family: "Libre Baskerville", serif;
}

.entrar:hover {
    background: #ffffff;
    padding: 10px;
    color: #000000;
    /* Cor do texto ao passar o mouse */
    transition: 0.7s;
    /* Transição suave ao passar o mouse */
}

.entrar:hover a {
    color: #000000;
}

.registrar {
    font-family: "Libre Baskerville", serif;
    display: inline-block;
    position: relative;
    right: 200px;
    bottom: 100px;
    width: 200px;
    height: 60px;
    padding: 15px 30px;
    margin: 10px 20px;
    border: 3px solid #6d6b6b;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.9s ease;
    /* Transição suave ao passar o mouse */
}

.registrar a {
    text-decoration: none;
    color: #535353;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
}

.registrar:hover {
    background: #535353;
    padding: 10px;
    transition: 0.7s;
    /* Transição suave ao passar o mouse */
    margin-top: 20px;
}

.registrar:hover a {
    color: #ffffff;
}

/* inicio do conteudo */

.conteudo {
    position: relative;
    display: flex;
    /* Flexbox para alinhar os itens */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    /* Espaço entre o topo e o conteúdo */
    padding: 20px;
    /* Espaço interno do conteúdo */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha em telas menores */
}

.paragrafo {
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa o limite do parágrafo */
    display: block;
    position: relative;
    top: 15px;
    margin: 30px;
    /* Espaço entre os parágrafos */
    padding: 10px;
    padding-left: 90px;
    text-align: justify;
    /* Justifica o texto */
    font-size: 32px;
    /* Tamanho da fonte dos parágrafos */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    /* Sombra do texto */
}



/* PARTE IMAGEM CELULAR */
.celularprojeto {
    display: inline-block;
    position: relative;
    right: 60px;
    margin-left: 20px;
    gap: 20px;
    transition: 0.9s ease-in;
    /* Transição suave ao passar o mouse */
}

.celularprojeto img:hover {
    filter: drop-shadow(10px 5px 20px #720b0b);
    /* Sombra da imagem */
    transition: 0.9s;
    /* Transição suave ao passar o mouse */
    margin: 20px;
}

.celularprojeto img {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    /* Largura máxima da imagem */
    height: auto;
    margin-left: 20px;
    /* Espaço entre os parágrafos */
    margin-top: 20px;
    /* Espaço entre os parágrafos */
    transition: 0.9s ease-in;
}

.img2 {
    display: inline-block;
    position: relative;
    right: 60px;
    transform: translateX(-240px) translateY(150px) scale(8);
}

/* .celularprojeto {
    display: inline-block;
    position: relative;
    right: 60px;
    margin-left: 20px;
    gap: 20px;
    transition: 0.9s ease-in;
    /* Transição suave ao passar o mouse */